

			.wholePage {
				background:black;
				max-width:1600px;
				margin:auto;
				font-size:24px;
				text-align: center;
			}

			.character {
				color:yellow;
				font-size: 2rem;
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
			}

			.commendatore {
				color: white;
				font-size: 3rem;
				font-weight: 600;
				opacity: 0.9;
				font-family: 'Montserrat', sans-serif;


				text-shadow:
					0.05em 0 0 rgba(255, 0, 0, 0.75),
					-0.15em -0.05em 0 rgba(0, 255, 0, 0.75),
					0.10em 0.05em 0 rgba(0, 0, 255, 0.75);

					animation: commendatore 500ms infinite;
			}

@keyframes commendatore {
	0% {
		text-shadow:
			0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	14% {
		text-shadow:
			0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	15% {
		text-shadow:
			-0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	49% {
		text-shadow:
			-0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	50% {
		text-shadow:
			0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.10em -0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	99% {
		text-shadow:
			0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	100% {
		text-shadow:
			-0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
			-0.10em -0.05em 0 rgba(0, 0, 255, 0.75);
}
}
